<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>67794889757-5da4d6g602idk3jns585kip45jbldpsv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.67794889757-5da4d6g602idk3jns585kip45jbldpsv</string>
	<key>API_KEY</key>
	<string>AIzaSyC1Uxj5OF0VKvqT2SMRS3xl7STFgIgX9to</string>
	<key>GCM_SENDER_ID</key>
	<string>67794889757</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.sociallogin</string>
	<key>PROJECT_ID</key>
	<string>social-login-6e0e9</string>
	<key>STORAGE_BUCKET</key>
	<string>social-login-6e0e9.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:67794889757:ios:a412e5d0d111b761a02af4</string>
</dict>
</plist>